window#osd {
  border-radius: 10px;
  border: none;
  background: rgba(26, 27, 38, 0.95);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #414868;
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: #a9b1d6;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background-color: #313244;
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background-color: #7aa2f7;
}
