*, *:focus {
	outline: none;
}

window {
  background-color: rgba(26, 27, 38, 0.9);
  border-radius: 0.5em;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.25em;
	overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #414868;
}

#input {
  padding: 0.7em 0.8em;
  border-radius: 0.5em 0.5em 0 0;
  background-color: #24283b;
  color: #9aa5ce;
  border: none;
  outline: none;
}

#input:focus {
	outline: none;
	border: none;
}

#text {
  color: #c0caf5;
}

#entry {
  padding: 0.7em 0.8em;
  color: #c0caf5;
}

#img {
	margin-right: 0.6em;
}

#entry:selected {
  background-color: transparent;
  border: none;
  outline: none;
} 

#text:selected {
  color: #eee;
  font-weight: bold;
}
